<head>
  <title> Parties </title>
</head>
<div class="wrapper">
  
   <div class="heading_container">
    <h2> Parties </h2>
    <button id="search-button" title="Apply filters" class="filter_button"> Search </button>
  </div>

  <table id="parties-table" class="display">
    <thead>
      <tr>
        <th>Party ID</th>
        <th>Party Name</th>
      </tr>
      <tr class="filters">
        <th><input type="text" id="party-id-search" placeholder="Search ID"></th>
        <th><input type="text" id="party-name-search" placeholder="Search Name"></th>
      </tr>
    </thead>
    <tbody>
      <!-- Data will be inserted here dynamically -->
    </tbody>
  </table>
</div>
  <script>
    $(document).ready(function() {
      console.log("First call");
      $( ":text" ).val('');
      const table = $('#parties-table').DataTable({
        layout:{
          top2Start: 'pageLength',
          topStart: 'info',
          topEnd: 'paging',
          bottomStart: 'pageLength',
          bottomEnd: 'paging',
        },
        stateSave: true,
        orderCellsTop: true,
        pagingType: 'full_numbers',
        searchable: true,
        deferRender: true,
        processing: true,
        serverSide: true,
        regex: false,
        ajax: {
          url: '/parties.json',
          data: function(d) {
            // console.log(d);
            d.columns[0].search.value = $('#party-id-search').val();
            d.columns[1].search.value = $('#party-name-search').val();
          },
          dataSrc: function(json) {
            // console.log(json);
            json.recordsTotal = json.total_records;
            json.recordsFiltered = json.meta.total_count;
            return json.parties;
          },
          error: function(xhr, status, errr) {
            alert(status);
          },
        },
        columns: [
          { data: 'party_id' },
          { data: 'party', render: function(data, type, row) { // Hyperlink to /parties/:id
            return `<a href="/parties/${row._id}">${data}</a>`;
          } },
        ],
        pageLength: 10, // default page length
        lengthMenu: [[5, 10, 15], [5, 10, 15]], // dropdown options
        order: [[0, 'desc']]
      });
      // Hit enter to apply filter
      $('input[type=text]').keydown(function(e) {
        if (e.key === "Enter") {
          table.ajax.reload();
        }
      });
      // Handle search button click
      $('#search-button').on('click', function() {
        // console.log("Second call!");
        // console.log("Name: ", $('#party-name-search').val());
        // console.log("ID: ", $('#party-id-search').val());
        table.ajax.reload();
      });
      
      $('#parties-table_filter').hide();
    });
  </script>
