<head>
  <title> Edit User </title>
</head>
<div class="wrapper">
<%= link_to "Users", users_path %>
<div class="heading_container">
  <div class="left">
    <h1>Edit User</h1>
  </div>
  <div class="right">
    <button class="filter_button" title="Navigate to user"><%= link_to "Show this user", @user %></button>
  </div>
</div>
<div class="flash_message">
  <p style="color: red"><%= alert %></p>
</div>
<%= render "form", user: @user %>

