<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Users</title>
</head>
<body>
  <p> <%= link_to 'Return to Home Page', root_path %> </p>
  <p style="color: green"><%= notice %></p>
  <h1> Users Table </h1>
  <h2> Press the <button id="search-button">Search</button> button to see results after entering filters </h2>
  <p> <%= link_to 'Create New User', new_user_path %>
  <br/>
  <table id="users-table" class="display" style="width:100%" display="hidden">
    <thead>
      <tr>
        <th>Name</th>
        <th>Gender</th>
        <th>Constituency</th>
      </tr>
      <tr class="filters">
        <th><input type="text" id="name-search" placeholder="Search Name"></th>
        <th><select id="gender-select">
          <option value="">All</option></select>
        </th>
        <th><input type="text" id="constituency-search" placeholder="Search Constituency"></th>
      </tr>
    </thead>
    <tbody>
      <!-- Data will be inserted here dynamically -->
    </tbody>
  </table>
  
  <script>
    $(document).ready(function() {
      console.log("First call");
      $(":text" ).val('');
      const table = $('#users-table').DataTable({
        stateSave: true,
        orderCellsTop: true,
        searchable: false,
        deferRender: true,
        processing: true,
        serverSide: true,
        pagingType: 'full_numbers',
        regex: false,
        ajax: {
          url: '/users.json',
          data: function(d) {
            // console.log(d);
            d.columns[0].search.value = $('#name-search').val();
            d.columns[1].search.value = $('#gender-select').val();
            d.columns[2].search.value = $('#constituency-search').val();
          },
          dataSrc: function(json) {
            // console.log(json);
            json.recordsTotal = json.total_records;
            json.recordsFiltered = json.meta.total_count;
            return json.users;
          },
          error: function(xhr, status, errr) {
            alert(status);
          },
        },
        columns: [
          { data: 'name', render: function(data, type, row) { // Hyperlink to /users/:id
              return `<a href="/users/${row._id}">${data}</a>`;
            } 
          },
          { data: 'gender' },
          { data: 'constituency_id' }
        ],
        pageLength: 10, // default page length
        lengthMenu: [[10, 25, 50, 100], [10, 25, 50, 100]], // dropdown options
        initComplete: function () {
          // Fetch and populate gender options
          $.ajax({
            url: '/users/gender_options',
            method: 'GET',
            success: function(data) {
              const genderSelect = $('#gender-select');
              data.forEach(gender => {
                genderSelect.append(`<option value="${gender}">${gender}</option>`);
              });
            }, 
            error: function(xhr, status, errr) {
              alert(status);
            }
          });
        },
      });
      $("#users-table").show();
      // Handle user pressed enter to filter data
      $('input[type=text]').keydown(function(e) {
        if (e.key === "Enter") {
          // Pressed enter
          // console.log("Apply filters!");
          // console.log("Name: ", $('#name-search').val());
          // console.log("Gender: ", $('#gender-select').val());
          // console.log("Constituency ID: ", $('#constituency-search').val());
          table.ajax.reload();
        }
      });
      // Apply filter after user changes gender dropdown
      $('#gender-select').change(function() {
        table.ajax.reload();
      })
      // Handle search button click
      $('#search-button').on('click', function() {
        // console.log("Apply filters!");
        // console.log("Name: ", $('#name-search').val());
        // console.log("Gender: ", $('#gender-select').val());
        // console.log("Constituency ID: ", $('#constituency-search').val());
        table.ajax.reload();
        // $.ajax({
        //   url: '/users.json',
        //   type: 'GET',
        //   data: function(d) {
        //     // name: $('#name-search').val(),
        //     // gender: $('#gender-select').val(),
        //     // constituency: $('#constituency-search').val()
        //     console.log(d);
        //     // Set search parameters only when search button is clicked
        //     d.columns[0].search.value = $('#name-search').val();
        //     d.columns[1].search.value = $('#gender-select').val();
        //     d.columns[2].search.value = $('#constituency-search').val();
        //   },
        //   dataSrc: function(json) {
        //     return json.data;
        //   },
        //   columns: [
        //     { data: 'name' },
        //     { data: 'gender' },
        //     { data: 'constituency_id' }
        //   ],
        //   success: function(response) {
        //     // Handle the response from the server
        //     console.log(response);
        //   },
        //   error: function(xhr, status, error) {
        //     // Handle any errors that occur during the request
        //     console.error(xhr, status, error);
        //   }
        //         // dataSrc: function(json) {
        //   //   console.log("Inside datasrc")
        //   //   return json.data;
        //   // },
        //   // columns: [
        //   //   { data: 'name' },
        //   //   { data: 'gender' },
        //   //   { data: 'constituency_id' }
        //   // ]
        // });
        // // .done(function(data) {
        // //   table.clear().rows.add(data.users).draw();
        // // })
      });
      
      $('#users-table_filter').hide();
    });
  </script>
</body>
</html>
