<head>
  <title> Constituency Information </title>
</head>
<div class="wrapper">
  <div class="flash_message">
    <p style="color: green"><%= notice %></p>
  </div>
  <div class="information">
    <%= link_to "Constituencies", constituencies_path %>
    <div class="heading_container">
      <div class="left">
        <h3 id="constituency_name"></h3>
      </div>
      <div class="right">
        <%= button_to "Destroy this Constituency", constituency_path(@constituency), method: :delete, class: "filter_button", form_class: "myButton" %>
      </div>
    </div>

    <div class="information_subdiv">
      <strong>ID</strong>
      <p id="constituency_id" class="atrribute_value"></p>
    </div>
    <div class="information_subdiv">
      <strong>Type</strong>
      <p id="constituency_type" class="atrribute_value"></p>
    </div>
    <div class="information_subdiv">
      <strong>District Name</strong>
      <p id="constituency_district" class="atrribute_value"></p>
    </div>
    <div class="information_subdiv">
      <strong>Voter count</strong>
      <p id="constituency_voters" class="atrribute_value"></p>
    </div>
    <div class="information_subdiv">
      <strong>Actual votes obtained</strong>
      <p id="constituency_actual_voters" class="atrribute_value"></p>
    </div>
    <div class="information_subdiv">
      <strong>Sub Region</strong>
      <p id="constituency_sub_region" class="atrribute_value"></p>
    </div>
    <div class="information_subdiv">
      <strong>Candidate Count</strong>
      <p id="constituency_cc" class="atrribute_value"></p>
    </div>
    <div class="information_subdiv">
      <strong>Turnout Percentage</strong>
      <p id="constituency_tp" class="atrribute_value"></p>
    </div>
    <div class="information_subdiv">
      <strong>Party count in Constituency</strong>
      <p id="constituency_party_count" class="atrribute_value"></p>
    </div>
    <div class="information_subdiv">
      <strong>Candidate List</strong>
      <ul id="constituency_candidacy_list" class="list_information">
      </ul>
    </div>
  </div>
</div>

<script>
	document.addEventListener('DOMContentLoaded', function() {
	    let constituencyID = document.getElementById('constituency_id');
      let constituencyName = document.getElementById('constituency_name');
      let constituencyType = document.getElementById('constituency_type');
      let constituencyDistrict = document.getElementById('constituency_district');
      let constituencyVC = document.getElementById('constituency_voters');
      let constituencyACO = document.getElementById('constituency_actual_voters');
      let constituencySubRegion = document.getElementById('constituency_sub_region');
      let constituencyCanCount = document.getElementById('constituency_cc');
      let constituencyTurnoutPer = document.getElementById('constituency_tp');
      let constituencyPartyCount = document.getElementById('constituency_party_count');
      let constituencyCandidacyList = document.getElementById('constituency_candidacy_list');
	    fetch('/constituencies/<%= @constituency.id %>.json')
	      .then(response => {
	        if (!response.ok) {
	          throw new Error('Network response was not ok');
	        }
	        return response.json();
	      })
	      .then(data => {
	      	console.log(data);
          constituencyID.textContent = data.constituency.constituency_id || "N/A";
          constituencyName.textContent = data.constituency.constituency_name || "N/A";
          constituencyType.textContent = data.constituency.constituency_type || "N/A";
          constituencyDistrict.textContent = data.constituency.district_name || "N/A";
          constituencyVC.textContent = data.constituency.voters || "N/A";
          constituencyACO.textContent = data.constituency.valid_votes || "N/A";
          constituencySubRegion.textContent = data.constituency.sub_region || "N/A";
          constituencyCanCount.textContent = data.constituency.candidate_count || "N/A";
          constituencyTurnoutPer.textContent = data.constituency.turnout_percentage + " %"  || "N/A";
          constituencyPartyCount.textContent = data.partyCount;
          data.candidates.forEach((candidate) => {
            let li = document.createElement('li');
            li.innerText = candidate.candidate_name;
            constituencyCandidacyList.appendChild(li);
	        });
	      })
	      .catch(error => {
	        console.error('There was a problem with the fetch operation:', error);
	      });
  	});
</script>