<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Election Dashboard</title>
</head>
<body>
  <h1> Welcome to Maharashtra Assembly Election 2019 Dashboard </h1>
  <br/>
  <p> Click the button to show all the voters <%= link_to 'Show Voters', users_path, class: button %></p>
</body>
</html>