<head>
  <title>Election Dashboard</title>
</head>
<body>
  <h1> Welcome to Maharashtra Assembly Election 2019 Dashboard </h1>
  <br/>
  <p> Click the button to show all the users <%= link_to 'Show Users', users_path %></p>
  <br>
  <p> Click the button to show all the candidates <%= link_to 'Show Candidates', candidates_path %></p>
  <br>
  <p> Click the button to show all the parties <%= link_to 'Show Parties', parties_path %></p>
  <br>
  <p> Click the button to show all the constituencies <%= link_to 'Show Constituencies', constituencies_path %></p>
</body>