<head>
  <title>Candidates</title>
</head>
<div class="wrapper">
  <div class="flash_message">
    <p style="color: green"><%= notice %></p>
  </div>
  <div class="heading_container">
    <h2> Candidates </h2>
    <button id="search-button" title="Apply filters" class="filter_button">Search</button>
  </div>
  <table id="candidates-table" class="display">
    <thead>
      <tr>
        <th>Candidate Name</th>
        <th>Gender</th>
        <th>Consitutency ID</th>
      </tr>
      <tr class="filters">
        <th><input type="text" id="name-search" placeholder="Search Name"></th>
        <th><select id="gender-select">
          <option value="">All</option></select>
        </th>
        <th><input type="text" id="constituency-search" placeholder="Search Consitutency ID"></th>
      </tr>
    </thead>
    <tbody>
      <!-- Data will be inserted here dynamically -->
    </tbody>
  </table>
</div>
  <script>
    $(document).ready(function() {
      console.log("First call");
      $(":text").val('');
      const table = $('#candidates-table').DataTable({
        stateSave: true,
        orderCellsTop: true,
        pagingType: 'full_numbers',
        searchable: true,
        deferRender: true,
        processing: true,
        serverSide: true,
        regex: false,
        ajax: {
          url: '/candidates.json',
          data: function(d) {
            console.log(d);
            d.columns[0].search.value = $('#name-search').val();
            d.columns[1].search.value = $('#gender-select').val();
            d.columns[2].search.value = $('#constituency-search').val();
          },
          dataSrc: function(json) {
            json.recordsTotal = json.total_records;
            json.recordsFiltered = json.meta.total_count;
            return json.candidates;
          },
          error: function(xhr, status, errr) {
            alert(status);
          },
        },
        columns: [
          { data: 'candidate_name', render: function(data, type, row) { // Hyperlink to /candidates/:id
              return `<a href="/candidates/${row._id}">${data}</a>`; },
          },
          { data: 'sex' },
          { data: 'constituency_id'}
        ],
        pageLength: 10, // default page length
        lengthMenu: [[10, 25, 50, 100], [10, 25, 50, 100]], // dropdown options
        layout:{
          top2Start: 'pageLength',
          topStart: 'info',
          topEnd: 'paging',
          bottomStart: 'pageLength',
          bottomEnd: 'paging',
        },
        initComplete: function () {
          // Fetch and populate gender options
          $.ajax({
            url: '/candidates/gender_options',
            method: 'GET',
            success: function(data) {
              const genderSelect = $('#gender-select');
              data.forEach(gender => {
                genderSelect.append(`<option value="${gender}">${gender}</option>`);
              });
            }, 
            error: function(xhr, status, errr) {
              alert(status);
            }
          });
        },
      });
      // Handle user pressed enter to filter data
      $('input[type=text]').keydown(function(e) {
        if (e.key === "Enter") {
          table.ajax.reload();
        }
      });
      // Apply filter after user changes gender dropdown
      $('#gender-select').change(function() {
        table.ajax.reload();
      })
      // Handle search button click
      $('#search-button').on('click', function() {
        table.ajax.reload();
      });
      
      $('#candidates-table_filter').hide();
    });
  </script>

