/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, * {
  font-family: Roboto;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
  font-weight: 700;
}

a:hover {
  text-decoration: none;
  color: #868585;
}

a:active, a:visited {
  text-decoration: none;
}

header {
  background: orangered;
  overflow: hidden;
  position: sticky;
  z-index: 100;
  top: 0;
  width: 100%;
  /* border: 2px solid black; */
  margin-bottom: 1rem;
}

.container {
  margin: 0;
  padding: 1rem;
}

nav ul {
  list-style: none;
  /* border: 1px solid blue; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav li {
  padding: 0.1rem;
  /* border: 1px solid white; */
}

nav a {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  /* border: 1px solid green; */
  text-align: center;
  font-weight: 700;
}

nav a:hover {
  color: #000;
}

.wrapper {
  border: 2px solid black;
  border-radius: 10px;
  margin: 2rem;
  padding: 1rem 2rem;
  background-color: #fff;
}

.heading_container {
  /* border: 1px solid orange; */
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter_button, .filter_button a {
  padding: 0.5rem;
  background-color: orangered;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.dataTables_wrapper {
  /* border: 1px solid red; */
  margin: 1rem 0;
  padding: 0.5rem;
}

.display {
  width: 100% !important;
  margin: 20px 0;
	border-collapse: collapse;
  /* border: 2px solid black; */
}

.display th, .display td {
  padding: 8px;
}

.filters th input, .filters th select {
	/* border: 1px solid red; */
  padding: 0.2rem;
  overflow: hidden;
  width: 100%;
}

.information_subdiv {
  /* border: 1px solid black; */
  margin: 10px 0;
}

.myButton {
  display: inline;
}

.atrribute_value {
  border: 2px solid black;
  border-radius: 5px;
  padding: 2px 4px;
  background-color: whitesmoke;
  border-radius: 2px;
  /* display: block; */
  width: 250px;
  height: 20px;
}

.list_information {
  list-style-type: none;
  padding: 0;
  border: 2px solid black;
  width: max-content;
}

.list_information li {
  padding: 2px 4px;
  border-bottom: 2px solid black;
}

.list_information li:last-child {
  border-bottom: none;
}

.form_submit_button {
  margin: 10px 0;
}